@import '../../utils/constants.scss';

body {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: $kuaiLe;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
