$kuaiLe: 'ZCOOL KuaiLe', Arial, sans-serif;
$gray: rgba(36, 43, 45, 0.4);
$dark-gray: #242b2d;
$light-gray: #e7e8e0;
$tablet-landscape-screen: 1024px;
$tablet-size-screen: 768px;
$phone-size-screen: 425px;
